<div class="container">
  <!-- <div class="modal-header"> -->
  <button
    class="close-btn"
    type="button"
    (click)="activeModal.dismiss()"
  >
    ×
  </button>
  <img src="/assets/logo.png" alt="" height="50px" width="130px" />

  <h4 class="modal-title">{{ isLoginMode ? "Login" : "Sign Up" }}</h4>

  <!-- </div> -->
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <input
        type="email"
        id="email"
        class="form-control"
        ngModel
        name="email"
        required
        placeholder="email"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        id="password"
        class="form-control"
        ngModel
        name="password"
        required
        minlength="6"
        placeholder="password"
      />
    </div>
    <button
      class="btn btn-secondary btn-submit"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      {{ isLoginMode ? "Login" : "Sign Up" }}
    </button>
    <!-- <span class="help">Need help signing in?</span> -->
    <div>
      <div>
        <button type="button" class="signIn" (click)="onSwitchMode()">
          {{ isLoginMode ? "Create an Account" : "Login" }}
        </button>
      </div>
    </div>
  </form>
</div>
